

.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__group
        = @group.name
      %ul.main-header__left-box__member-list
        Member:
        - @group.users.each do |user|
          #{user.name}
        
        %li.main-header__left-box__member-list__member
          
    = link_to edit_group_path(@group), class: "main-header__edit" do
      .main-header__edit__btn
        Edit
  .message-lists
    = render @messages
    -# .message-list
    -#   .message-list__info
    -#     %p.message-list__info__user-name
    -#       so
    -#     %p.message-list__info__date
    -#       2019/12/31(tue)
    -#   %p.message-list__text
    -#     おはよう
    -#   .message-list__info
    -#     %p.message-list__info__user-name
    -#       kimura
    -#     %p.message-list__info__date
    -#       2019/1/1(wed)
    -#   %p.message-list__text
    -#     おはよう
  .message-form
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


